<!DOCTYPE html>
<html>
  <head>
    <!-- You may include any other css files/libraries here as well,
      but they must be locally stored, this page cannot reach
      external resources.-->
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
  </head>
  <body>
    <!-- The div we'll swap the loaded image in for -->
    <div id='pugTarget' class='pugImage'></div>
  </body>
  <!-- You may include any other scripts/libraries here as well,
       but they must be locally stored, this page cannot reach
       external resources.-->
  <script src="../js/popup.js"></script>
</html>